ion-menu-button {
  color: var(--ion-color-primary-tint);
}

.home-label {
  padding: 6px 16px;
  font-size: 1.5rem;
  font-weight: 700;
  width: 100%;
  display: block;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0;
  margin-left: 1rem;
  min-height: 283.8px;

  .card {
    display: inline-block;
    width: 50%;
    background-color: #1b1b1b;
    border-radius: 2.5em .8em 2.5em .8em;
    min-height: 20em;
    background-size: 100% 100% !important;
    background-position: center;
    background-repeat: no-repeat;
  }

  ion-card-header {
    width: 60%;
    border-radius: 0 0 1.5em 0;
    font-size: .8em;
    padding-left: 1.2em;
    color: #0b0b0b;
    font-weight: 800;
    text-align: center;
  }

  ion-card-content {
    display: flex;
    margin-top: 95%;
    flex-direction: column;
    background-color: rgba($color: #000000, $alpha: .75);
    padding-top: .5em;
    padding-bottom: .5em;
  }
}

ion-card-title {
  font-size: 1em;
}

ion-toolbar {
  --background-color: transparent;
  --ion-color-base: transparent !important;
}

.in-space-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 1rem 1rem;
  gap: .7rem;

  ion-text {
    text-align: center;
  }

  .space-card-text-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .in-space {
    border: 1px solid var(--ion-color-primary);
    border-radius: 10px;
    height: 100px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;

    &.people {
      background-image: url('/assets/people-in-space.png');
    }

    &.aliens {
      background-image: url('/assets/aliens-in-space.png');
    }

    ion-label {
      font-size: 3em;
      font-weight: bold;
    }
  }
}


.app-logo {
  font-size: 1rem;
  padding: 0px 16px;
  font-weight: 700;
  color: var(--ion-color-primary);
}

.galaxy {
  height: 50%;
}

ion-content {
  --background: var(--ion-color-primary);
}