<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Page Two</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content scrollY="true">
  <div class="app-logo">AUTDER</div>
  <ion-list class="list">
    <ng-container> <!-- *ngIf="nextLaunches.length > 0" -->
      <ion-label class="launch-label">Next Space Launches</ion-label>
      <div class="scrolling-wrapper">
        <ion-card class="card" *ngFor="let launch of nextLaunches" (click)="selectLaunch(launch)">
          <img height="150px" width="100%" src={{launch?.image}} />
          <ion-card-header>
            <ion-card-subtitle>{{launch?.net | date:'longTime'}}</ion-card-subtitle>
            <ion-card-title>{{getLaunchName(launch.name)}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text>Status: {{launch?.status?.name}}</ion-text>
          </ion-card-content>
        </ion-card>
      </div>
    </ng-container>

  </ion-list>
  <div class="people-in-space-wrapper" style="margin-bottom: 20px;">
    <ion-label style="font-size: 12px; font-weight: 700;">How many people is out there?</ion-label>
    <div class="people in-space">
      <ion-label>{{peopleInSpace.length}}</ion-label>
    </div>
  </div>

  <div class="people-in-space-wrapper">
    <ion-label style="font-size: 12px; font-weight: 700;">How many aliens are out there?</ion-label>
    <div class="aliens in-space">
      <ion-label>{{aliensInSpace}}</ion-label>
    </div>
  </div>
</ion-content>